<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>

<head>
#showHead ("Petstore Sample")
<link href="$homeContent.getURI("css/petstore-common.css")" rel="stylesheet" type="text/css">
<link href="$homeContent.getURI("css/petstore-homepage.css")" rel="stylesheet" type="text/css">
</head>

<body #bodyAttributes ()>

<table width="100%"  border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td>$control.setTemplate("home:top")</td>
  </tr>
  <tr>
    <td>$screen_placeholder</td>
  </tr>
  <tr>
    <td>$control.setTemplate("home:bottom")</td>
  </tr>
</table>

</body>
</html>
