$page.addStyleSheet("$storeContent.getURI('css/petstore-store.css')")

#foreach ($cat in $cats)
    <table width="100%"  border="0" cellspacing="0" cellpadding="10">
      <tr>
        <td><img src="$storeContent.getURI("images/$cat.logo")"></td>
        <td width="100%">
          <div class="categoryName">$cat.name</div>
          <div class="subcategoryName">
          #foreach ( $prod in $cat.productList)
              #if($velocityCount > 1) | #end
              <a href="$storeModule.setTarget("itemList").addQueryData("productId", $prod.productId)" title="$prod.description">$prod.name</a>
          #end
          </div></td>
      </tr>
    </table>
#end