<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://java.sun.com/xml/ns/j2ee  http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd
    ">

    <context-param>
        <param-name>loggingRoot</param-name>
        <param-value>${petstore.loggingRoot}</param-value>
    </context-param>
    <context-param>
        <param-name>loggingLevel</param-name>
        <param-value>${petstore.loggingLevel}</param-value>
    </context-param>
    <context-param>
        <param-name>loggingCharset</param-name>
        <param-value>UTF-8</param-value>
    </context-param>

    <listener>
        <listener-class>com.alibaba.citrus.logconfig.LogConfiguratorListener</listener-class>
    </listener>

    <!-- 装载/WEB-INF/webx.xml, /WEB-INF/webx-*.xml -->
    <listener>
        <listener-class>com.alibaba.citrus.webx.context.WebxContextLoaderListener</listener-class>
    </listener>

    <filter>
        <filter-name>mdc</filter-name>
        <filter-class>com.alibaba.citrus.webx.servlet.SetLoggingContextFilter</filter-class>
    </filter>

    <filter>
        <filter-name>webx</filter-name>
        <filter-class>com.alibaba.citrus.webx.servlet.WebxFrameworkFilter</filter-class>
        <init-param>
            <!-- 
              - 这里所配置的uri将不被webx filter处理，由servlet容器直接处理，或者转交给其它的servlets、filters。
              - 例如，所有*.html静态页面由servlet容器来直接读取。
             -->
            <param-name>excludes</param-name>
            <param-value>*.html</param-value>
        </init-param>
        <init-param>
            <!-- 
              - 这里所配置的uri将不被pipeline处理，但可以取得webx所管理的request、response、session等对象。
              - 例如，Servlet /getloginuser可以取得webx所管理的session，从而取得存放于cookie中的用户登录信息。
            -->
            <param-name>passthru</param-name>
            <param-value>/getloginuser</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>mdc</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>webx</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>getLoginUser</servlet-name>
        <servlet-class>com.alibaba.sample.petstore.web.servlet.GetLoginUser</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>getLoginUser</servlet-name>
        <url-pattern>/getloginuser</url-pattern>
    </servlet-mapping>

</web-app>
