$page.setTitle("It works.")

<h1>It works.</h1>

<ol>
<li>
    <h2>Simple Page without Template</h2>

    #set($url = "$app1Link.setTarget('simple/SayHi.do')")
    <a href="$url">$url</a>
</li>

<li>
    <h2>Simple Image</h2>

    #set($url = "$app1Link.setTarget('simple/sayHiImage.do')")
    <a href="$url">$url</a>
</li>

<li>
    <h2>Show a SLOW Page</h2>

    #set($url = "$app1Link.setTarget('simple/count.do').addQueryData('to', 10)")
    <a href="$url">$url</a>
</li>

<li>
    <h2>Download a Large File</h2>

    #set($url = "$app1Link.setTarget('simple/download.do').addQueryData('filename', 'blob')")
    <a href="$url">$url</a>
</li>

<li>
    <h2>Form Validation</h2>

    #set($url = "$app1Link.setTarget('form/register')")
    <a href="$url">$url</a>
</li>

<li>
    <h2>Single Screen for Multiple Templates</h2>

    <ul>
      <li>#set($url = "$app1Link.setTarget('list/as_html.htm')")
      <a href="$url">Show as HTML: $url</a>
      </li>

      <li>#set($url = "$app1Link.setTarget('list/as_xml.htm')")
      <a href="$url">Show as XML: $url</a>
      </li>

      <li>#set($url = "$app1Link.setTarget('list/as_json.htm')")
      <a href="$url">Show as JSON: $url</a>
      </li>
    </ul>
</li>

<li>
    <h2>Single Screen with Multiple Event Handlers</h2>

    <ul>
      <li>#set($url = "$app1Link.setTarget('multievent/say_hello_1.do')")
      <a href="$url">$url</a>
      </li>

      <li>#set($url = "$app1Link.setTarget('multievent/say_hello_1/chinese.do')")
      <a href="$url">$url</a>
      </li>

      <li>#set($url = "$app1Link.setTarget('multievent/say_hello_1/french.do')")
      <a href="$url">$url</a>
      </li>

      <li>#set($url = "$app1Link.setTarget('multievent/say_hello_1/spanish.do')")
      <a href="$url">$url</a>
      </li>
    </ul>
</li>

<li>
    <h2>JSON</h2>

    <ul>
      <li>#set($url = "$app1Link.setTarget('multievent/say_hello_2/english.json')")
      <a href="$url">$url</a>
      </li>

      <li>#set($url = "$app1Link.setTarget('multievent/say_hello_2/chinese.json')")
      <a href="$url">$url</a>
      </li>

      <li>#set($url = "$app1Link.setTarget('multievent/say_hello_2/french.json')")
      <a href="$url">$url</a>
      </li>

      <li>#set($url = "$app1Link.setTarget('multievent/say_hello_2/spanish.json')")
      <a href="$url">$url</a>
      </li>
    </ul>
</li>


</ol>