#macro (registerAccountMessage $field)
    #if (!$field.valid) $field.message #end
#end

$page.addStyleSheet("$userContent.getURI('css/petstore-user.css')")

<form action="$userModule.setTarget("registerAccount")" method="post">
  $csrfToken.hiddenField
  <input type="hidden" name="action" value="RegisterAction"/>

  #set ($contactGroup = $form.registerContact.defaultInstance)
  #set ($creditGroup = $form.registerCredit.defaultInstance)
  
  $contactGroup.mapTo($user)
  $creditGroup.mapTo($user)

  <table border="0" cellpadding="0" cellspacing="10" width="100%" class="box">
    <tr align="center">
      <td><strong>用户信息</strong><br />
        <hr/>
      </td>
    </tr>
    <tr align="center">
      <td><table border="0" cellpadding="0" cellspacing="10" width="10">
        <tr>
          <td colspan="3" class="subtitle">基本信息</td>
        </tr>
        <tr>
          <td nowrap="nowrap">用户名：</td>
          <td width="100%">$user.userId</td>
          <td class="errorMessage">&nbsp;</td>
        </tr>
        <tr>
          <td nowrap="nowrap">密码：</td>
          <td width="100%">********</td>
          <td class="errorMessage">&nbsp;</td>
        </tr>
        <tr>
          <td colspan="3" class="subtitle">联系信息</td>
        </tr>
        <tr>
          <td nowrap="nowrap">姓氏：</td>
          <td width="100%">
            <input type="text" name="$contactGroup.lastName.key" value="$!contactGroup.lastName.value" size="30"/>
          </td>
          <td class="errorMessage">
            #registerAccountMessage ($contactGroup.lastName)
          </td>
        </tr>
        <tr>
          <td nowrap="nowrap">名字：</td>
          <td width="100%">
            <input type="text" name="$contactGroup.firstName.key" value="$!contactGroup.firstName.value" size="30"/>
          </td>
          <td class="errorMessage">
            #registerAccountMessage ($contactGroup.firstName)
          </td>
        </tr>
        <tr>
          <td nowrap="nowrap">地址： </td>
          <td>
            <input type="text" name="$contactGroup.address1.key" value="$!contactGroup.address1.value" size="60"/>
          </td>
          <td class="errorMessage">
            #registerAccountMessage ($contactGroup.address1)
          </td>
        </tr>
        <tr>
          <td nowrap="nowrap">&nbsp;</td>
          <td>
            <input type="text" name="$contactGroup.address2.key" value="$!contactGroup.address2.value" size="60"/>
          </td>
          <td class="errorMessage">
            #registerAccountMessage ($contactGroup.address2)
          </td>
        </tr>
        <tr>
          <td nowrap="nowrap">邮编： </td>
          <td>
            <input type="text" name="$contactGroup.zip.key" value="$!contactGroup.zip.value" size="20"/>
          </td>
          <td class="errorMessage">
            #registerAccountMessage ($contactGroup.zip)
          </td>
        </tr>
        <tr>
          <td nowrap="nowrap">城市： </td>
          <td>
            <input type="text" name="$contactGroup.city.key" value="$!contactGroup.city.value" size="30"/>
          </td>
          <td class="errorMessage">
            #registerAccountMessage ($contactGroup.city)
          </td>
        </tr>
        <tr>
          <td nowrap="nowrap">省份： </td>
          <td>
            <input type="text" name="$contactGroup.state.key" value="$!contactGroup.state.value" size="30"/>
          </td>
          <td class="errorMessage">
            #registerAccountMessage ($contactGroup.state)
          </td>
        </tr>
        <tr>
          <td nowrap="nowrap">国家： </td>
          <td>
            #select ($contactGroup.country.key $selectCountries $contactGroup.country.value "-- 请选择国家 --")
          </td>
          <td class="errorMessage">
            #registerAccountMessage ($contactGroup.country)
          </td>
        </tr>
        <tr>
          <td nowrap="nowrap">电话： </td>
          <td>
            <input type="text" name="$contactGroup.phone.key" value="$!contactGroup.phone.value" size="30"/>
          </td>
          <td class="errorMessage">
            #registerAccountMessage ($contactGroup.phone)
          </td>
        </tr>
        <tr>
          <td nowrap="nowrap">电子邮件： </td>
          <td>
            <input type="text" name="$contactGroup.email.key" value="$!contactGroup.email.value" size="60"/>
          </td>
          <td class="errorMessage">
            #registerAccountMessage ($contactGroup.email)
          </td>
        </tr>
        <tr>
          <td colspan="3" class="subtitle">信用卡信息</td>
        </tr>
        <tr>
          <td nowrap="nowrap">信用卡号：</td>
          <td width="100%">
            <input type="text" name="$creditGroup.creditCardNumber.key" value="$!creditGroup.creditCardNumber.value" size="30"/>
          </td>
          <td class="errorMessage">
            #registerAccountMessage ($creditGroup.creditCardNumber)
          </td>
        </tr>
        <tr>
          <td nowrap="nowrap">信用卡类型：</td>
          <td width="100%">
            #select ($creditGroup.creditCardType.key $selectCreditCardType $creditGroup.creditCardType.value "-- 请选择信用卡类型 --")
          </td>
          <td class="errorMessage">
            #registerAccountMessage ($creditGroup.creditCardType)
          </td>
        </tr>
        <tr>
          <td nowrap="nowrap">信用卡过期时间：</td>
          <td width="100%" nowrap>
            #select ($creditGroup.creditCardExpiryMonth.key $selectMonth $creditGroup.creditCardExpiryMonth.value "-- 请选择月份 --")
            /
            #select ($creditGroup.creditCardExpiryYear.key $selectYear $creditGroup.creditCardExpiryYear.value "-- 请选择年份 --")
          </td>
          <td class="errorMessage">
            #registerAccountMessage ($creditGroup.creditCardExpiryMonth) <br>
            #registerAccountMessage ($creditGroup.creditCardExpiryYear)
          </td>
        </tr>
      </table></td>
    </tr>
    <tr>
      <td><hr/></td>
    </tr>
    <tr align="center">
      <td><input type="submit" name="event_submit_do_register_account" value="保存上面的信息"/></td>
    </tr>
  </table>

</form>
