#macro (loginMessage $field)
    #if (!$field.valid) $field.message #end
#end

<form action="$petstoreLoginLink" method="post">
  $csrfToken.hiddenField
  <input type="hidden" name="action" value="LoginAction"/>
  <input type="hidden" name="return" value="$!rundata.parameters.return"/>

  #set ($group = $form.login.defaultInstance)

  <table border="0" cellpadding="0" cellspacing="10" width="100%" class="box">
    <tr align="center">
      <td><strong>用户登录</strong><br />
        <hr/>
        <div class="errorMessage">
          #loginMessage ($group.loginError)
        </div>
      </td>
    </tr>
    <tr align="center">
      <td><table border="0" cellpadding="0" cellspacing="10" width="10">
        <tr>
          <td nowrap="nowrap">用户名：</td>
          <td width="100%">
            <input type="text" name="$group.userId.key" value="$!group.userId.value"/>
          </td>
          <td class="errorMessage">
            #loginMessage ($group.userId)
          </td>
        </tr>
        <tr>
          <td nowrap="nowrap">密码： </td>
          <td>
            <input type="password" name="$group.password.key" value="$!group.password.value"/>
          </td>
          <td class="errorMessage">
            #loginMessage ($group.password)
          </td>
        </tr>
      </table></td>
    </tr>
    <tr>
      <td><hr/></td>
    </tr>
    <tr align="center">
      <td><table border="0" cellpadding="0" cellspacing="10" width="10">
        <tr>
          <td width="100%"><input type="image" src="$homeContent.getURI("images/btn_login.png")" name="event_submit_do_login"/></td>
          <td nowrap><a href="$petstoreRegisterLink">还没有注册过吗？<br>赶快注册！</a></td>
        </tr>
      </table></td>
    </tr>
  </table>

</form>
