$page.addStyleSheet("$storeContent.getURI('css/petstore-store.css')")

<table width="100%" border="0" cellspacing="0" cellpadding="10">
  <tr>
	<td rowspan="2" width="1%"><img src="$storeImageContent.getURI("$product.logo")"></td>
	<td class="categoryName">$category.name</td>
  </tr>
  <tr>
	<td colspan="2" class="subcategoryName">$product.name - $product.description
		#if ($itemAdded)
			| <span class="errorMessage">已加入购物车，您可以 [<a href="$storeModule.setTarget("categoryList")">继续购物</a>]</span>
		#end
	</td>
  </tr>
  <tr>
	<td colspan="2">
		<table width="100%" border="0" cellspacing="1" cellpadding="10">
			<tr bgcolor="#DDDDDD">
				<th>ID</th>
				<th>单价</th>
				<th>描述</th>
				<th>库存数量</th>
				<th>&nbsp;</th>
			</tr>
        #foreach($item in $items)
			<tr onmouseenter="this.style.backgroundColor='powderblue'" onmouseleave="this.style.backgroundColor=''">
				<td>$item.productItemId</td>
				<td>$item.listPrice</td>
				<td>$item.attribute1</td>
				<td>$item.quantity</td>
				<td align="right"><input type="button" value="放到购物车" onclick="location='$storeModule.setTarget("itemList").addQueryData("productId", $product.productId).setAction("cartAction").addQueryData("itemId", $item.productItemId).addQueryData("eventSubmitDoAddItem", "true")'"/></td>
			</tr>
		#end

			<tr bgcolor="#DDDDDD">
				<td colspan="10" align="right">
					<input type="button" value="继 续 购 物" onclick="location='$storeModule.setTarget("categoryList")'"/>
				</td>
			</tr>
		</table>
	</td>
  </tr>
</table>
