.categoryName {
    FONT-WEIGHT: bold;
    FONT-SIZE: x-large;
    COLOR: #000099;
    FONT-FAMILY: "Times New Roman", Times, serif;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: solid;
    border-left-style: none;
    border-top-color: #999999;
    border-right-color: #999999;
    border-bottom-color: #999999;
    border-left-color: #999999;
    padding-bottom: 10px;
}

.subcategoryName {
    FONT-WEIGHT: normal;
    FONT-SIZE: small;
    COLOR: #333333;
    FONT-FAMILY: Arial, Helvetica, sans-serif
}
